<!-- Aquí extiendo el layout -->
{% extends 'layout.html' %} {% block body %}
<!-- Header-->
<header class="bg-white">
  <div class="container px-7">
    <div class="row gx-5">
      <div class="col-lg-6">
        <div class="text-center">
          <h1 class="display-5 fw-bolder text-blue mb-2">
            Módulo principal de configuraciones
          </h1>
          <!-- mb-2 de esta frase a la siguiente linea -->
          <p class="lead text-blue mb-4">
            ¡Selecciona una opción y gestiona!
          </p>
          <div class="d-grid gap-3 d-sm-flex btnali">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ url_for('addFlight') }}"
              >Añadir vuelos</a
            >
            <a class="btn btn-outline-light btn-lg px-4" href=""
              >Gestionar usuarios</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container px-7 d-grid gap-3 d-sm-flex format">
    <div class="card1" style="width: 22rem;">
        <div class="card-body">
            <div class="justify-content-center">
                <img class="card-img-top" src="../static/images/cartagena.jpg" alt="Card image cap">
                    <p class="card-text text-center text-blue"><strong>¡Descubre Cartagena de Indias, una joya del patrimonio universal!</strong><br>
                    Cartagena es una ciudad que está ubicada a orillas del Mar Caribe. Sus calles coloridas llenas de encanto la hacen la puerta de entrada a Suramérica.</p>
            </div>
        </div>
    </div>
    <div class="card1" style="width: 20rem;">
        <div class="card-body">
            <div class="justify-content-center">
                <img class="card-img-top" src="../static/images/medellín.jpg" alt="Card image cap">
                    <p class="card-text text-center text-blue"><strong>¡La ‘Ciudad de la Eterna Primavera’!</strong><br>
                    Medellín es una ciudad cautivadora, no solo por su clima agradable (ronda los 19 °C durante todo el año); también por la amabilidad de su gente, su deliciosa comida y ese encanto paisa que enamora a los visitantes.</p>
            </div>
        </div>
    </div>
    <div class="card1" style="width: 20rem;">
        <div class="card-body">
            <div class="justify-content-center">
                <img class="card-img-top" src="../static/images/bucaramanga.jpg" alt="Card image cap">
                    <p class="card-text text-center text-blue"><strong>¡Un destino con parques y mucho encanto!</strong><br>
                    En la capital del departamento de Santander disfrutarás de un clima muy agradable que ronda los 27 grados centígrados todo el año.</p>
            </div>
        </div>
    </div>
</div>

<footer class="py-5 bg-dark">
  <div class="container px-3"><p class="m-0 text-center text-white">Copyright Your Website 2021</p></div>
</footer>

  <!-- Aquí cierro el layout -->

  {% endblock body %}