<!-- Aquí extiendo el layout -->
{% extends 'layout.html' %} {% block body %}
<!-- Header-->
<header class="bg-white">
  <div class="container px-7">
    <div class="row gx-5">
      <div class="col-lg-6">
        <div class="text-center">
          <h1 class="display-5 fw-bolder text-blue mb-2">
            Módulo principal de configuraciones
          </h1>
          <!-- mb-2 de esta frase a la siguiente linea -->
          <p class="lead text-blue mb-4">
            ¡Selecciona una opción y gestiona!
          </p>
          <div class="d-grid gap-3 d-sm-flex btnali">
            <a class="btn btn-primary btn-lg px-4 me-sm-3" href="{{ url_for('manageFlight') }}"
              >Gestionar vuelos</a
            >
            <a class="btn btn-outline-light btn-lg px-4" href="{{ url_for('manageUser') }}"
              >Gestionar usuarios</a
            >
            <a class="btn btn-outline-light btn-lg px-4" href="{{ url_for('managePilot') }}"
              >Gestionar pilotos</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container px-15 d-grid gap-3 d-sm-flex format">
    <div class="card1" style="width: 100rem;">
        <div class="card-body">
            <div class="justify-content-center">
              <p class="card-text text-center text-blue mb-2">
                <div class="container px-7 text-center">
                  <h6 class="h3 display-5 text-red">
                    ¡El tiempo sobre la ruta!
                  </h6>
                  <p class="display-5 lead text-blue">
                    Para la comunidad aeronáutica es de gran importancia conocer el estado actual del sistema de espacio aéreo con el fin de prever las condiciones de operación futuras y así efectuar una planificación eficiente.
                  </p>
                </div>
                <img class="card-img-top" src="../static/images/colombia.jpeg" alt="Card image cap">
            </div>
        </div>
    </div>
</div>

<footer class="py-5 bg-dark">
  <div class="container px-3"><p class="m-0 text-center text-white">Copyright Your Website 2021</p></div>
</footer>

  <!-- Aquí cierro el layout -->

  {% endblock body %}