<!-- Aquí extiendo el layout -->
{% extends 'layout.html' %} {% block body %}
<!-- Header-->
<header class="bg-white">
  <div class="container px-7">
    <div class="row gx-5">
      <div class="col-lg-6">
        <div class="text-center">
          <h1 class="display-5 fw-bolder text-blue mb-2">
            ¿Pensando en tu viaje soñado?
          </h1>
          <!-- mb-2 de esta frase a la siguiente linea -->
          <p class="lead text-blue mb-4">
            Reserva tu viaje ahora y recibe un 50% de descuento
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container px-7">
  <div class="card" style="width: 75rem">
    <div class="card-body">
      <div class="row gx-4 justify-content-center">
        <h2 class="text-center">
          ¡Ingresa el usuario que desea eliminar!
        </h2>
        <form action="" method="post">
          {{ form.csrf_token }}
          <class class="format">
            <div class="form-group">
              <div class="leadseccion mb-3 mr-2">
                {{ form.userName.label}} {{
                form.userName(class="form-control")}}
              </div>
            </div>
            <div class="text-center">
              <button class="btn" type="submit">Buscar usuario</button>
            </div>
          </class>
        </form>
      </div>
    </div>
  </div>
</div>
<footer class="py-5 bg-dark">
  <div class="container px-3">
    <p class="m-0 text-center text-white">Copyright Your Website 2021</p>
  </div>
</footer>

<!-- Aquí cierro el layout -->

{% endblock body %}