<!-- Aquí extiendo el layout -->
{% extends 'layout.html' %} {% block body %}
<!-- Header-->
<header class="bg-white">
  <div class="container px-7">
    <div class="row gx-5">
      <div class="col-lg-6">
        <div class="text-center">
          <h1 class="display-5 fw-bolder text-blue mb-2">
            ¿Pensando en tu viaje soñado?
          </h1>
          <!-- mb-2 de esta frase a la siguiente linea -->
          <p class="lead text-blue mb-4">
            Reserva tu viaje ahora y recibe un 50% de descuento
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="py-5">
    <div class="container px-1">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 format">
            <div class="col mb-5">
                <div class="card1">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center text-blue">
                            <h5 class="fw-bolder">Barranquilla</h5>
                            VIE 29 OCT<br>
                            $125.275
                        </div>
                    </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Continuar</a></div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card1">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center text-blue">
                            <h5 class="fw-bolder">Barranquilla</h5>
                            VIE 29 OCT<br>
                            $125.275
                        </div>
                    </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Continuar</a></div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card1">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center text-blue">
                            <h5 class="fw-bolder">Barranquilla</h5>
                            VIE 29 OCT<br>
                            $125.275
                        </div>
                    </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Continuar</a></div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card1">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center text-blue">
                            <h5 class="fw-bolder">Barranquilla</h5>
                            VIE 29 OCT<br>
                            $125.275
                        </div>
                    </div>
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Continuar</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="py-5 bg-dark">
  <div class="container px-3"><p class="m-0 text-center text-white">Copyright Your Website 2021</p></div>
</footer>

  <!-- Aquí cierro el layout -->

  {% endblock body %}