<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio | Aviatto</title>
    <link href="static/css/styleIndex.css" rel="stylesheet" type="text/css">
</head>
<body>
 <div class=padre>
    <img src="static/images/LOGO AVIATTO.svg"  width="400"
    height="341">
    <div>
        <form action="http://google.com">
        <input class=hijo type="button" value="Entrar" style="display: block; margin: 0 auto;">
        </form>
    </div>
 </div>
</body>
</html>