<!-- Aquí extiendo el layout -->
{% extends 'layout.html' %} {% block body %}
<!-- Header-->
<header class="bg-white">
  <div class="container px-7">
    <div class="row gx-5">
      <div class="col-lg-6">
        <div class="text-center">
          <h1 class="display-5 fw-bolder text-blue mb-2">
            ¡Gracias por hacer parte de esta familia!
          </h1>
          <!-- mb-2 de esta frase a la siguiente linea -->
          <p class="lead text-blue mb-4">
            Estamos felices de tenerte en nuestro equipo
          </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container px-7">
  <div class="card" style="width: 75rem">
    <div class="card-body">
      <div class="row gx-4 justify-content-center">
        <h2 class="text-center">¡Ingresa tu código de piloto para ver el detalle de tus vuelos asignados!</h2>
          <form action="{{url_for('manageYourFlights')}}" method="post">
            {{ form.csrf_token }}
            <class class="format">
              <p class="leadtitle text-orange mb-4 mr-2">Consulta tus vuelos</p>
              <div class="form-group">
                <div class="leadseccion mb-3 mr-2">
                  {{ form.idPerson.label}} {{
                  form.idPerson(class="form-control")}}
                </div>
              </div>
            </class>
            <div class="text-center">
              <button class="btn" type="submit">Buscar vuelos</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

<div class="container px-7">
  <div class="row gx-5">
      <div class="text-center">
        <h1 class="display-5 fw-bolder text-blue mb-4">
          ¡Aquí tienes la información de tus vuelos!
        </h1>
      </div>
  </div>
</div>

<div class="container">
  <div class="justify-content-center">
      <table class="table table-hover text-blue">
          <thead class="table-dark">
              <tr>
                  <th>id</th>
                  <th>Salida</th>
                  <th>Destino</th>
                  <th>Fecha de Salida</th>
                  <th>Fecha de Destino</th>
                  <th>Aeronave</th>
                  <th>Capacidad</th>
                  <th>Status</th>
                  <th>Piloto</th>
              </tr>
          </thead>
          <tbody>
              {% for f in flight %}
              <tr class="text-center">
                  <td>{{f[0]}}</td>
                  <td>{{f[1]}}</td>
                  <td>{{f[2]}}</td>
                  <td>{{f[3]}}</td>
                  <td>{{f[4]}}</td>
                  <td>{{f[5]}}</td>
                  <td>{{f[6]}}</td>
                  <td>{{f[7]}}</td>
                  <td>{{f[8]}}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>

<footer class="py-5 bg-dark">
  <div class="container px-3"><p class="m-0 text-center text-white">Copyright Your Website 2021</p></div>
</footer>

  <!-- Aquí cierro el layout -->

  {% endblock body %}
