<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="card col-sm-3 m-auto p-5">
    <form action="{{url_for('SignUpForm')}}" method="post">
        {{form.csrf_token}}  
        <div class="mb-3">
          <div class="col-sm-5">
              {{form.name.label}}
          </div>
          {{form.name}}
      </div>  
        <div class="mb-3">
          <div class="col-sm-5">
              {{form.userName.label}}
          </div>
          {{form.userName}}
      </div>              
        <div class="mb-3">
            <div class="col-sm-5">
                {{form.emailUser.label}}
            </div>
            {{form.emailUser}}
        </div>
        <div class="mb-3">
            <div class="col-sm-5">
                {{form.passwordUser.label}}
            </div>
            {{form.passwordUser}}
        </div>      
        <button class="btn btn-primary m-auto" type="submit">Registar</button>
    </form>
</div>
</body>
</html>