<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviatto Flights</title>
    <link rel="stylesheet" href="../static/css/styleu.css" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <class class="container px-7">
          <a class="navbar-brand" href="{{ url_for('user') }}"
            ><img src="../static/images/logo.png"
          /></a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Cerrar sesión</a>
            </li>
          </ul>
        </class>
      </nav>
<!-- Header-->
<header class="bg-white">
  <div class="container px-7">
    <div class="row gx-5">
      <div class="col-lg-6">
        <div class="text-center">
          <h1 class="display-5 fw-bolder text-blue mb-2">
            ¿Pensando en tu viaje soñado?
          </h1>
          <!-- mb-2 de esta frase a la siguiente linea -->
          <p class="lead text-blue mb-4">
            Reserva tu viaje ahora y recibe un 50% de descuento
          </p>
          <div class="d-grid gap-3 d-sm-flex btnali">
            <a class="btn btn-outline-light btn-lg px-4" href="{{ url_for('bookFlight') }}"
              >Reserva tu vuelo</a
            >
            <a class="btn btn-outline-light btn-lg px-4" href="{{ url_for('searchFlight') }}"
              >Gestiona tu reserva</a
            >
            <a class="btn btn-outline-light btn-lg px-4" href="{{ url_for('rateFlight') }}"
              >Califica un vuelo</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="text-center">
  <p class="display-5 fw-bolder lead text-red mb-4">
    ¡Atrévete a conocer increíbles destinos nacionales!
  </p>
</div>

<div class="container px-7 d-grid gap-3 d-sm-flex format">
    <div class="card1" style="width: 22rem;">
        <div class="card-body">
            <div class="justify-content-center">
                <img class="card-img-top" src="../static/images/cartagena.jpg" alt="Card image cap">
                    <p class="card-text text-center text-blue"><strong>¡Descubre Cartagena de Indias, una joya del patrimonio universal!</strong><br>
                    Cartagena es una ciudad que está ubicada a orillas del Mar Caribe. Sus calles coloridas llenas de encanto la hacen la puerta de entrada a Suramérica.</p>
            </div>
        </div>
    </div>
    <div class="card1" style="width: 20rem;">
        <div class="card-body">
            <div class="justify-content-center">
                <img class="card-img-top" src="../static/images/medellín.jpg" alt="Card image cap">
                    <p class="card-text text-center text-blue"><strong>¡La ‘Ciudad de la Eterna Primavera’!</strong><br>
                    Medellín es una ciudad cautivadora, no solo por su clima agradable (ronda los 19 °C durante todo el año); también por la amabilidad de su gente, su deliciosa comida y ese encanto paisa que enamora a los visitantes.</p>
            </div>
        </div>
    </div>
    <div class="card1" style="width: 20rem;">
        <div class="card-body">
            <div class="justify-content-center">
                <img class="card-img-top" src="../static/images/bucaramanga.jpg" alt="Card image cap">
                    <p class="card-text text-center text-blue"><strong>¡Un destino con parques y mucho encanto!</strong><br>
                    En la capital del departamento de Santander disfrutarás de un clima muy agradable que ronda los 27 grados centígrados todo el año.</p>
            </div>
        </div>
    </div>
</div>

<footer class="py-5 bg-dark">
  <div class="container px-3"><p class="m-0 text-center text-white">Copyright Your Website 2021</p></div>
</footer>

</body>
</html>

